.logo
  %h1 Overtime App
%ul.custom-nav.nav.nav-tabs
  %li{:class => "#{active?(root_path)}"}
    = link_to 'Home', root_path
  %li{:class => "#{active?(posts_path)}"}
    = link_to 'Time Entries', posts_path
  %li{:class => "#{active?(new_post_path)}"}
    = link_to 'New Entry', new_post_path, id: 'new_post_from_nav'
  %li.dropdown.pull-right
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Account
      %strong.caret
      %ul.dropdown-menu
        %li
          = link_to 'TODO: Admin Dashboard', root_path
        %li
          = link_to 'Log Out', destroy_user_session_path, method: :delete
